@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require font-awesome
 */


 @import url(https://fonts.googleapis.com/css?family=Lato:100);
 body{
   background: white;
   max-width: 1250px;
   margin: auto;
 }
 #nav{
    position: relative;
    padding-bottom: 1%;
    padding-top: 1%;
 }
 ul{
   text-align: center;
   word-spacing: -0.2em;
   background-image: -moz-linear-gradient(top,#93cec9,#d3f8f4);
     border-radius: 120px;
   -moz-box-sizing: border-box;
     padding-right: 0px;
     padding-left: 0px;
 }
 ul li{
 display: inline-block;
 background:transparent;
 -moz-transition: all .5s;
 padding: 20px 36px;
 }
 .last{
   border-radius: 0px 120px 120px 0 ;
 
 }
 .first{
   border-radius: 120px 0px 0px 120px ;
 }
 
 a{
   text-decoration: none;
     font-size: 1.8em;
     color: #119da3;
     font-family: 'Lato', sans-serif;
     font-weight: bold;
 }
 a:hover{
    color: #FFF;
 }